<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIS Innovation Hub</title>
    <link rel="stylesheet" href="/static/styles/home-style.css">
    <link rel="icon" href="/static/images/webpage-logo.png">
</head>
<body>
    <header>
        <div>
            <a href="/home"><img src="/static/images/logo.png" alt="" height="40px"></a>
            <div>Bank: {{.bankName}} - {{.country}}, <a class="logout" href="/logout">logout</a></div>
        </div>
    </header>

    <div class="buttons">
        <div>
            <a class="add-transaction" href="/addtransaction">ADD TRANSACTION</a>
        </div>
        <div>
            <a class="show-policies" href="">
                SHOW <span style="margin-left: 8px; color:#aa322f">POLICIES</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#aa322f" class="bi bi-file-text-fill" viewBox="0 0 16 16">
                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1z"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="table">
        <div class="table-header">
            <div class="direction">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#706f6f" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                </svg>
            </div>
            <div class="bank">BANK</div>
            <div class="from">SENDER</div>
            <div class="to">RECEIVER</div>
            <div class="amount">AMOUNT</div>
            <div class="status">STATUS</div>
            <div class="policy">POLICY</div>
            <div class="history">HISTORY</div>
        </div>
        <div class="table-body">
            {{range .transactions}}
            <div class="table-row">
                <div>
                    {{if eq .OriginatorBank $.bankName}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(170, 50, 47)" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                    </svg>
                    {{else}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(66, 127, 109)" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                    {{end}}
                </div>
                {{if eq .OriginatorBank $.bankName}}
                <div>
                    {{.BeneficiaryBank}}
                </div>
                {{else}}
                <div>
                    {{.OriginatorBank}}
                </div>
                {{end}}
                <div>{{.SenderName}}</div>
                <div>{{.ReceiverName}}</div>
                <div>{{.Amount}} -{{.Currency}}-</div>
                <div>{{.Status}}</div>
                {{if and (eq .Status "CREATED") (eq .BeneficiaryBank $.bankName)}}
                <div>
                    <a href="/confirmtransaction?transaction={{.Id}}" class="set-policy">CONFIRM</a>
                </div>
                {{else if (and (eq .Status "CREATED") (eq .OriginatorBank $.bankName))}}
                <div>
                    -
                </div>
                {{else}}
                <div>
                    CONFIRMED
                </div>
                {{end}}                
                <div>
                    <a href="/transactionhistory?transaction={{.Id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        </svg>
                    </a>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</body>
</html>