<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIS Innovation Hub</title>
    <link rel="stylesheet" href="/static/styles/index-style.css">
    <link rel="icon" href="/static/images/webpage-logo.png">
</head>
<body>
    {{if eq . "yes"}}
    <div class="logged-in">
        <img src="/static/images/logo.png" alt="" height="54px">
        <div>You are already logged in.</div>
        <a href="/logout">Log out</a>
    </div>
    {{else}}
    <div class="log-in">
        <form action="/login" method="post">
            <img src="/static/images/logo.png" alt="" height="54px">
            <input class="input-username" type="text" placeholder="Username" name="username">
            <input class="input-password" type="password" placeholder="Password" name="password">
            <button>Log in</button>
            <a href="https://ethernal.tech/">Powered by Ethernal-Tech</a>
        </form>
    </div>
    {{end}}
</body>
</html>