<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{if eq . "yes"}}
        <div>You are already logged in!</div>
        <a href="/logout">Log out</a>
    {{else}}
        <form action="/login" method="POST">
            <input type="text" name="username"/>
            <input type="text" name="password"/>
            <button>Click</button>
        </form>
    {{end}}
</body>
</html>