<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIS Innovation Hub</title>
    <link rel="stylesheet" href="/static/styles/policies-style.css">
    <link rel="icon" href="/static/images/webpage-logo.png">
    <script src="/static/javaScript/policies-js.js"></script>
</head>
<body>
    <header>
        <div>
            <a href="/home"><img src="/static/images/logo.png" alt="" height="36px"></a>
            <div>Bank: {{.bankName}} - {{.country}}, <a class="logout" href="/logout">logout</a></div>
        </div>
    </header>

    <div class="buttons">
        <div>
            <a class="back-button" href="/home">SHOW TRANSACTIONS</a>
        </div>
    </div>

    <div class="table">
        <div class="table-header">
            <div class="transactionType">TRANSACTION TYPE</div>
            <div class="policyName">POLICY NAME</div>
            <div class="parameter">PARAMETER</div>
        </div>
        <div class="table-body">
            {{range .policies}}
            <div class="table-row">
                <div>{{.TransactionType}}</div>
                <div>{{.Name}}</div>
                {{if eq .Code "CFM"}}
                <div name="Amount">{{.Parameter}}</div>
                {{else}}
                <div>{{.Parameter}}</div>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
</body>
</html>