<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIS Innovation Hub</title>
    <link rel="stylesheet" href="/static/styles/transactionhistory-style.css">
    <link rel="icon" href="/static/images/webpage-logo.png">
</head>
<body>
    <header>
        <div>
            <a href="/home"><img src="/static/images/logo.png" alt="" height="40px"></a>
            <div>Hello Mr Srdjan Vukmirovic, <a class="logout" href="/logout">logout</a></div>
        </div>
    </header>

    <section>  
        <div class="transaction-details">
            <div class="title">TRANSACTION</div>
            <div class="transaction-details-row">
                <div class="type">Sender:</div>
                <div class="value">Petar Petrovic</div>
            </div>
            <div class="transaction-details-row">
                <div class="type">Receiver:</div>
                <div class="value">Kristina Markovic</div>
            </div>
            <div class="transaction-details-row">
                <div class="type">Bank:</div>
                <div class="value">OTP BANK</div>
            </div>
            <div class="transaction-details-row">
                <div class="type">Amount:</div>
                <div class="value">100000 -$-</div>
            </div>
            <div class="transaction-details-row">
                <div class="type">Type:</div>
                <div class="value">303</div>
            </div>
            <div class="policies-type">
                <div>Policy 33</div>
                <div>Policy 44</div>
                <div>Policy 44</div>
            </div>
            <div class="policies-checked">
                <div><div style="background-color: #706f6f;"></div></div>
                <div><div></div></div>
                <div><div style="background-color: #706f6f;"></div></div>
            </div>
        </div>
        <div class="transaction-history">
            <div class="table">
                <div class="table-header">
                    <div>DATE</div>
                    <div>STATUS</div>
                    <div>DESCRIPTION</div>
                </div>
                <div class="table-body">
                    <div class="table-row">
                        <div>2023-09-27 14:43:54</div>
                        <div>Pending</div>
                        <div>Everything is okay!Everything is okay!</div>
                    </div>
                    <div class="table-row">
                        <div>2023-09-30 23:41:12</div>
                        <div>Pending</div>
                        <div>Everything is okay!</div>
                    </div>
                    <div class="table-row">
                        <div>2023-10-03 17:43:12</div>
                        <div>Pending</div>
                        <div>Everything is okay!</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>