<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIS Innovation Hub</title>
    <link rel="stylesheet" href="/static/styles/transactionhistory-style.css">
    <link rel="icon" href="/static/images/webpage-logo.png">
</head>
<body>
    <header>
        <div>
            <a href="/home"><img src="/static/images/logo.png" alt="" height="40px"></a>
            <div>Hello {{.username}}, <a class="logout" href="/logout">logout</a></div>
        </div>
    </header>

    <div class="transaction-history">
        <div class="title">TRANSACTION HISTORY</div>
        <div class="content">
            <div class="informations">
                <div class="informations-title">INFORMATIONS:</div>
                <div class="informations-row">
                    <div class="informations-row-name">Sender:</div>
                    <div class="informations-row-value">{{.transaction.SenderName}}</div>
                </div>
                <div class="informations-row">
                    <div class="informations-row-name">Receiver:</div>
                    <div class="informations-row-value">{{.transaction.ReceiverName}}</div>
                </div>
                <div class="informations-row">
                    <div class="informations-row-name">Bank:</div>
                    <div class="informations-row-value">
                    {{if eq .bankName .transaction.OriginatorBank}}
                        {{.transaction.BeneficiaryBank}}
                    {{else}}
                        {{.transaction.OriginatorBank}}
                    {{end}}
                    </div>
                </div>
                <div class="informations-row">
                    <div class="informations-row-name">Amount:</div>
                    <div class="informations-row-value">{{.transaction.Amount}} -{{.transaction.Currency}}-</div>
                </div>
                <div class="informations-row">
                    <div class="informations-row-name">Type:</div>
                    <div class="informations-row-value">{{.transaction.Type}}</div>
                </div>
                <div class="policies">
                    <div>
                        <div>POLICY - SCL</div>
                        <div id="country">
                        {{if eq .SactionCheckList "true"}}
                            ({{.SactionCheckListContent.Country}})
                        {{else}}
                            (-)
                        {{end}}
                        </div>
                        {{if eq .SactionCheckList "true"}}
                        <div id="SCL-sign" style="background-color:#706f6f"></div>
                        {{else}}
                        <div id="SCL-sign"></div>
                        {{end}}                    
                    </div>
                    <div>
                        <div>POLICY - CFM</div>
                        <div id="amount">
                        {{if eq .CapitalFlowManagement "true"}}
                            ({{.CapitalFlowManagementContent.Amount}})
                        {{else}}
                            (-)
                        {{end}}                    
                        </div>
                        {{if eq .CapitalFlowManagement "true"}}
                        <div id="CFM-sign" style="background-color:#706f6f"></div>
                        {{else}}
                        <div id="CFM-sign"></div>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="history">
                <div class="history-table">
                    <div class="history-table-header">
                        <div>DATE</div>
                        <div>STATUS</div>
                        <div>DETAILS</div>
                    </div>
                    <div class="history-table-body">
                        {{range .transaction.StatusHistory}}
                        <div class="history-table-row">
                            <div>{{.DateString}}</div>
                            <div>{{.Name}}</div>
                            <div>Some description about {{.Name}} status.</div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>