<div class="compliance-details-header">
    <div class="compliance-details-back-name">
        <div class="compliance-details-back-button" onclick="backToCompliance()">
            <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.0625 5L7 1.0625L5.9375 0L0.9375 5L5.9375 10L7 8.9375L3.0625 5Z" fill="#002155"/>
            </svg>
        </div>
        <div class="headline-2 text-strong">Compliance check</div>
    </div>
    <div class="compliance-details-analytics-export text-strong body-semibold">
        <div class="compliance-details-analytics">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.787109 15.2129V0.787109H15.2129V15.2129H0.787109ZM2.72461 11.6459V13.2754H13.2754V5.91044L8.05628 11.2311L5.59794 8.77273L2.72461 11.6459ZM2.72461 9.46107L5.59794 6.58794L8.03544 9.00461L13.2754 3.63961V2.72461H2.72461V9.46107ZM2.72461 6.86878V4.47294V9.52544V6.46294V11.6459V8.64773V11.7102V6.86878ZM2.72461 9.46107V2.72461V9.52544V6.46294V9.46107ZM2.72461 11.6459V8.64773V11.7102V6.86878V13.2754V11.6459Z" fill="#002155"/>
            </svg>        
            See in Analytics
        </div>
        <div class="compliance-details-separator"></div>
        <div class="compliance-details-export">
            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.00003 10.8588L2.43482 6.29357L3.88586 4.86586L5.97919 6.97107V0.599609H8.02086V6.97107L10.1142 4.86586L11.5652 6.29357L7.00003 10.8588ZM0.599609 14.4004V10.8588H2.64128V12.3588H11.3588V10.8588H13.4004V14.4004H0.599609Z" fill="#002155"/>
            </svg>
            Export table
        </div>
    </div>
</div>
<div class="compliance-details-body">
    <div class="compliance-details-left">
        <div class="compliance-details-name headline-3 text-strong">
            Compliance check details
        </div>
        <div class="compliance-details-left-fields">
            <div class="compliance-details-left-field">
                <div class="text-strong body-regular">Compliance check ID</div>
                <div class="text-strong body-semibold">Insert value</div>
            </div>
            <div class="compliance-details-left-field">
                <div class="text-strong body-regular">Sender's LEI</div>
                <div class="text-strong body-semibold">Insert value</div>
            </div>
            <div class="compliance-details-left-field">
                <div class="text-strong body-regular">Sender’s Company Name</div>
                <div class="text-strong body-semibold">Insert value</div>
            </div>
            <div class="compliance-details-left-field">
                <div class="text-strong body-regular">Beneficiary’s LEI</div>
                <div class="text-strong body-semibold">Insert value</div>
            </div>
            <div class="compliance-details-left-field">
                <div class="text-strong body-regular">Beneficiary’s Company Name</div>
                <div class="text-strong body-semibold">Insert value</div>
            </div>
            <div class="compliance-details-left-field">
                <div class="text-strong body-regular">Beneficiary's Bank</div>
                <div class="text-strong body-semibold">Insert value</div>
            </div>
            <div class="compliance-details-left-field">
                <div class="text-strong body-regular">Payment Type</div>
                <div class="text-strong body-semibold">Insert value</div>
            </div>
            <div class="compliance-details-left-field">
                <div class="text-strong body-regular">Transaction Type</div>
                <div class="text-strong body-semibold">Insert value</div>
            </div>
            <div class="compliance-details-left-field">
                <div class="text-strong body-regular">Transaction Amount</div>
                <div class="text-strong body-semibold">Insert value</div>
            </div>
        </div>
        <div class="compliance-details-left-policy">
            <div class="headline-3 text-strong">Applicable policies</div>
            <div class="compliance-details-policies text-strong body-semibold">
                <div class="compliance-details-policy">Insert Value</div>
                <div class="compliance-details-policy">Insert Value</div>
                <div class="compliance-details-policy">Insert Value</div>
            </div>
        </div>
    </div>
    <div class="compliance-details-right">
        <div class="compliance-details-report-header headline-3 text-strong">
            Activity report
            <span class="compliance-details-status small-label">
                Insert Value
            </span>
        </div>
    </div>
</div>
    