<div class="compliance-check-table">
    <table id="compliance-check-table">
        <thead>
            <tr>
                <th class="body-regular text-weak">Originating bank</th>
                <th class="body-regular text-weak">Originator</th>
                <th class="body-regular text-weak">Beneficiary bank</th>
                <th class="body-regular text-weak">Beneficiary</th>
                <th class="body-regular text-weak">Currency</th>
                <th class="body-regular text-weak text-align-right">Amount</th>
                <th class="body-regular text-weak">Status</th>
                <th class="body-regular text-weak">Date created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{range .transactions}}
                <tr>
                    <td class="body-semibold text-strong">{{.OriginatorBank}}</td>
                    <td class="body-semibold text-strong">{{.SenderName}}</td>
                    <td class="body-semibold text-strong">{{.BeneficiaryBank}}</td>
                    <td class="body-semibold text-strong">{{.ReceiverName}}</td>
                    <td class="body-semibold text-strong">{{.Currency}}</td>
                    <td class="body-semibold text-strong text-align-right">{{.Amount}}</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="text-align-right">></td>
                </tr>
            {{end}}
        </tbody>
    </table>
</div>    

