* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #3A6BAC;
    background: linear-gradient(to bottom right, #3A6BAC 15%, #3A6BAC 49%, #3A6BAC 78%, #EAA121 78%, #EAA121 90%, #FFFFFF 90%, #FFFFFF 100%);
}

header {
    background-color: #ffffff;
    border-bottom: 4px solid #EAA121;
}

header > div {
    width: 80%;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div > a {
    display: flex;
}

header > div > div {
    font-size: 24px;
    font-family: 'Segoe UI';
    color: #706f6f;
}

.logout {
    text-decoration: none;
    user-select: none;
    font-family: 'Segoe UI';   
    color: #aa322f;
    font-weight: 700;
}

.confirm-transaction {
    height: 620px;
    width: 440px;
    margin: 100px auto;
    background-color: #ffffff;
    border-radius: 4%;
    border: 2px solid #706f6f;
}

.confirm-transaction > .title {
    font-size: 46px;
    font-family: 'Segoe UI';
    text-align: center;
    color: #EAA121;
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 50px;
}

.confirmation-row {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 24px;
    font-family: 'Segoe UI';
    margin-top: 20px;
    font-weight: 600;
}

.type {
    color: #aa322f;
}

.value {
    color: #706f6f;
}

.policies-type {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.policies-type > div {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI';
    color: #aa322f;
    font-weight: 600;
}

.policies-checked {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.policies-checked > div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.policies-checked > div > div {
    height: 16px;
    width: 16px;
    border: 1px solid #706f6f;
    border-radius: 50%;
}

.buttons:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
    margin-top: 46px;
    height: 50px;
}

.confirm:hover {
    letter-spacing: 4px;
    cursor: pointer;
}

.confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6;
    border: none;
    background-color: #ffffff;
    transition: 0.4s;
    font-size: 24px;
    font-family: 'Segoe UI';
    color: #706f6f;
    border: 2px solid #aa322f;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 700;
}

.back {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aa322f;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}