* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #3A6BAC;
    background-image: url(/static/images/waves.svg);
}

header {
    background-color: #FFFFFF;
    border-bottom: 4px solid #AA322F;
}

header > div {
    width: 80%;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: #AA322F;
}


img {
    display: block;
}

input:focus {
    outline: none;
}

.user{
    width: 260px;
    font-size: 18px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logout {
    display: flex;
    align-items: center;
}

.add-compliance {
    background-color: #FFFFFF;
    width: 940px;
    height: 610px;
    margin: 100px auto;
    border: 1px solid #706F6F;
    border-radius: 8px;
    box-shadow: 0px 0px 4px #000000;
}

.view {
    width: 100%;
    height: 464px;
}

.display {
    display: block;
}

.not-display {
    display: none;
}

.view-1 > fieldset {
    margin: 20px auto;
    margin-bottom: 30px;
    border: 1px solid rgb(183, 183, 183);
    width: 880px;
    height: 200px;
    display: flex;
}

.view-1 > fieldset > legend {
    margin: 10px;
    padding-left: 4px;
    padding-right: 10px;
    font-size: 18px;
}

.sender-beneficiary-details, .transaction-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    margin: 20px auto;
    margin-bottom: 34px;
    width: 880px;
}

.title > span {
    font-weight: 600;
    font-size: 28px;
    color: #AA322F;
}

.sender, .beneficiary {
    width: 47%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 74%;
}

.input {
    border-radius: 4px;
    border: 1px solid rgb(183, 183, 183);
    height: 28px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.input-select {
    width: 380px;
    text-align: center;
    cursor: pointer;
}

.sender input, .beneficiary input {
    width: 380px;
}

.input-container {
    width: 380px;
    display: flex;
}

.input-container > input {
    flex: 8;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
} 

.transaction-details .input-container > input {
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input-container > a {
   color: #FFFFFF;
   background-color: #AA322F;
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 2;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   cursor: pointer;
}

.input-container > select {
    border: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #AA322F;
    color: #FFFFFF;
    flex: 2;
    text-align: center;
}

.beneficiary {
    align-items: end;
}

.transaction-details > div {
    width: 47%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 74%;
}

.transaction-details > div:nth-of-type(2) {
    align-items: end;
}

.transaction-details input {
    width: 380px;
}


.field-container {
    display: flex;
    flex-direction: column;
}

.input-descriptor {
    margin-bottom: 6px;
}

.input-descriptor > span {
    color: #AA322F;
    margin-left: 4px;
}

.view-2-note, .view-3-note {
    color: #AA322F;
    margin: 0px auto;
    margin-top: 34px;
    width: 880px;
}

.transaction-informations {
    border: 1px solid rgb(183, 183, 183);
    box-sizing: border-box;
    padding: 10px;
    margin: 0px auto;
    margin-top: 40px;
    width: 880px;
    height: 376px;
    display: flex;
    justify-content: space-between;
}

.transaction-informations > div {
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
}

.transaction-information {
    font-size: 15px;
    height: 60px;
    width: 100%;
}

.transaction-information-name {
    font-weight: 600;
}

.transaction-information-value {
    margin-top: 8px;
    margin-left: 4px;
    color: #706F6F;
}

.transaction-information-name > span {
    color: #AA322F;
    margin-left: 4px;
}

.buttons {
    width: 880px;
    margin: 0px auto;
    height: 36px;
    display: flex;
    justify-content: space-between;
}


.buttons > div {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

#view-indicator {
    margin-left: 10px;
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-indicator > div {
    border: 1px solid #AA322F;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.view-indicator > div:nth-child(1) {
    background-color: #AA322F;
}

.add-color {
    background-color: #AA322F;
}

.remove-color {
    background-color: #FFFFFF; 
}

.control-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;   
}

.non-selectable {
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;     
}

.cancel {
    background-color: #706F6F;
}

.next {
    background-color: #AA322F;
}

#loader {
    position: absolute;
    top: calc(46% - 20px);
    left: calc(50% - 20px);
    border: 4px solid #f3f3f3;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 4px solid #AA322F;
    width: 36px;
    height: 36px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.view-3-content {
    display: flex;
    width: 880px;
    height: 434px;
    margin: 0px auto;
    justify-content: space-between;
}

.policies {
    margin: 0px auto;
    margin-top: 40px;
    width: 46%;
    height: 374px;
    border: 1px solid rgb(183, 183, 183);
    overflow: auto;
}

.policies::-webkit-scrollbar {
    width: 4px;
    visibility: hidden;
}

.policies::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #AA322F;
}

.policy {
    height: 52px;
    border-bottom: 1px solid rgb(183, 183, 183);
    display: flex;
    align-items: center;
}

.policy-params {
    margin-top: 2px;
}

.policy-icon {
    flex: 1;
    margin-left: 12px;
}

.policy-content {
    height: 100%;
    flex: 9;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.policy-code-name {
    font-weight: 600;
    color: #AA322F;
}
