/* .compliance-check-wrapper {
    overflow: auto;
    width: calc(100vw - 280px);
    height: calc(100vh - 52px);
} */
/* .compliance-check-wrapper::-webkit-scrollbar {
    width: 6px;
    visibility: hidden;
}
.compliance-check-wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #49494a;
}
.compliance-check-wrapper::-webkit-scrollbar:horizontal {
    height: 10px;
} */
.compliance-check-header {
    background-color: var(--color-background-light);
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px 12px 24px;
    border-bottom: 1px solid var(--color-border-outline-disabled);
}

.compliance-check-icon-with-text {
    display: flex;
    gap: 4px;
}

.compliance-check-icon-with-text > div {
    display: flex;
    align-items: center;
}

.compliance-check-filter {
    background-color: var(--color-background-light);
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px 12px 24px;
    border-bottom: 1px solid var(--color-border-outline-disabled);
}

.compliance-check-filter > :nth-child(1) {
    display: flex;
    gap: 8px;
}

.compliance-check-search-field {
    width: 259px;
    height: 40px;
    border: 1px solid var(--color-border-outline);
    border-radius: 8px;
    padding: 10px 12px 10px 10px;
}

.compliance-check-search-field:focus {
    outline: none;
}

.compliance-check-search-button {
    background-color: var(--color-background-light);
    width: 85px;
    height: 40px;
    border: 1px solid var(--color-border-outline);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px 10px 10px;
}

.compliance-check-search-button:hover {
    background-color: var(--color-container-white-hover);
}

.compliance-check-filter-shadow {
    box-shadow: 0px 4px 2px 0px #0000000A;
}

.compliance-check-advanced-filter {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 24px 12px 24px;
    border-bottom: 1px solid var(--color-border-outline-disabled);
    background-color: var(--color-background-light);
}

.compliance-check-advanced-filter-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px 8px 10px;
}

.compliance-check-advanced-filter-item:hover {
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: rgb(229, 233, 238);
    cursor: pointer;
}

.compliance-check-advanced-filter-item > span {
    margin-top: 3px;
}

.popup-container {
    position: absolute;
    width: 265px;
    max-height: 260px;
    background-color: white;
    border: 1px solid #CCD3DD;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup-container > input {
    width: 233px;
    height: 40px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 12px 10px 10px;
}

.popup-container > input:focus {
    outline: none;
}

.popup-list {
    width: 233px;
    max-height: 180px;
    padding: 0px 4px 0px 4px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.popup-list:focus {
    outline: none;
}

.popup-list::-webkit-scrollbar {
    width: 6px;
    visibility: hidden;
}

.popup-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #49494a;
}

.popup-list::-webkit-scrollbar:horizontal {
    height: 10px;
} 

.popup-filter-item {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 4px;
}

.popup-filter-item :nth-child(1)  {
    margin-right: 6px;
}

.compliance-check-table {
    height: 647px;
    margin-top: 20px;
}

.compliance-check-table table {
    width: 100%;
    border-collapse: collapse;
}

.compliance-check-table table tr {
    border-bottom: 1px solid var(--color-border-outline-disabled);
    height: 56px;
}

.compliance-check-table table thead tr {
    background-color: var(--color-container-white);
}

.compliance-check-table table tbody tr {
    background-color: var(--color-background-light);
}

.compliance-check-table table tbody tr:hover {
    background-color: var(--color-container-white-hover);
    cursor: pointer;
}

.compliance-check-table table tr > :nth-child(1) {
    padding-left: 24px;
}


.compliance-check-table table th,
.compliance-check-table table td {
    padding: 0px 16px 0px 16px;
    text-align: left;
}
.compliance-check-table table tr > :nth-child(1),
.compliance-check-table table tr > :last-child {
    padding-left: 24px;
}

.compliance-check-table table th.text-align-right,
.compliance-check-table table td.text-align-right {
    text-align: right;
}

.datesRange {
    border-radius: 8px;
    border: 1px solid var(--color-border-outline);
    width: 120px;
    height: 40px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    padding: 10px 8px 10px 8px;
}

.calendar-window {
    position: absolute;
    width: 300px;
    height: 226px;
    border-radius: 10px;
    top: 190px;
    right: 30px;
    background-color: #ffffff;
    display: none;
    border: 1px solid #a9a9aa;
    overflow: hidden;
}

.calendar {
    height: 100%;
    width: 100%;
}

.fc {
    font-size: 12px !important;
}

.fc-daygrid-day-events { 
    min-height: 0em !important;  
    margin-bottom: 0rem !important;
}

.fc-daygrid-day {
    cursor: pointer; 
  }
  
  .fc-daygrid-day.fc-daygrid-day-selected {
    background-color: #e3f2fd; 
    cursor: pointer; 
  }
