.home-header {
    background-color: var(--color-background-dark);
    height: 52px;
    border-bottom: 1px solid var(--color-border-outline-dark);
    display: flex;
    justify-content: space-between;
    padding: 8px 24px 8px 24px;
}

.home-header > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 16px;
}

.home-hamburger {
    cursor: pointer;
}

.home-logo {
    width: 32px;
}

.home-header > div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 16px;
}

.home-bank-identifier {
    flex: 12;
    display: flex;
    justify-content: flex-end;
}

.home-separator {
    border-left: 1px solid var(--color-border-outline-dark);
    height: 16px;
    width: 1px;
}

.home-user {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 4px;
}

.home-logout-window {
    position: absolute;
    width: 230px;
    height: 124px;
    border-radius: 12px;
    top: 60px;
    right: 30px;
    background-color: var(--color-background-light);
    display: none;
    flex-direction: column;
    border: 1px solid var(--color-border-outline);
}

.home-logout-window > :nth-child(1){
    flex: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-border-outline);
    padding: 16px;
    gap: 8px;
}

.home-logout-window > :nth-child(2){
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-logout {
    text-decoration: none;
    display: flex;
    width: 100%;
    padding: 16px 16px 24px 16px;
    gap: 12px;
}

.home-body {
    display: flex;
}

.home-side-bar {
    background-color: var(--color-background-dark);
    width: 240px;
    height: calc(100vh - 52px);
    display: flex;
    flex-direction: column;
    position: relative;
}

.home-views {
    flex: 2;
    display: flex;
    align-items: center;
}

.home-views-container {
    padding: 20px 12px 20px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-views-container > div {
    cursor: pointer;
    display: flex;
    width: 100%;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    transition-duration: 500ms;
    gap: 8px;
}

.home-views-container > div:hover {
    background-color: var(--color-container);
}

.home-view-icon {
    display: flex;
    align-items: center;
}

.home-view-text {
    display: flex;
    align-items: center;
}

.home-banks-list {
    flex: 8;
    border-bottom: 1px solid var(--color-border-outline-dark);
}

.home-banks-list-title {
    margin-top: 20px;
    margin-left: 25px;
}

.home-signature {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-view {
    overflow: auto;
    width: calc(100vw - 240px);
    height: calc(100vh - 52px);
}

.home-view::-webkit-scrollbar {
    width: 6px;
    visibility: hidden;
}

.home-view::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #49494a;
}

.home-view::-webkit-scrollbar:horizontal {
    height: 10px;
} 