.home-header {
    background-color: var(--color-background-dark);
    height: 48px;
    border-bottom: 1px solid var(--color-border-outline-dark);
    display: flex;
    justify-content: space-between;
    padding: 8px 24px 8px 24px;
}

.home-header > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 16px;
}

.home-hamburger {
    cursor: pointer;
}

.home-logo {
    width: 32px;
    height: 32px;
}

.home-header > div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 16px;
}

.home-bank-identifier {
    display: flex;
    justify-content: flex-end;
}

.home-separator {
    border-left: 1px solid var(--color-border-outline-dark);
    height: 16px;
    width: 1px;
}

.home-user {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 4px;
}

.home-logout-window {
    position: absolute;
    min-width: 230px;
    height: 124px;
    border-radius: 12px;
    top: 60px;
    right: 30px;
    background-color: var(--color-background-light);
    display: none;
    flex-direction: column;
    border: 1px solid var(--color-border-outline);
}

.home-logout-window > :nth-child(1){
    flex: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-border-outline);
    padding: 16px;
    gap: 8px;
}

.home-logout-window > :nth-child(2){
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-logout {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 16px 24px 16px;
    gap: 12px;
}

.home-body {
    display: flex;
    min-height: calc(100vh - 48px);
}

.home-side-bar {
    background-color: var(--color-background-dark);
    width: 240px;
    height: calc(100vh - 48px);
    display: flex;
    flex-direction: column;
    position: relative;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.home-views {
    display: flex;
    align-items: center;
}

.home-views-container {
    padding: 20px 12px 20px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-icon-with-text {
    cursor: pointer;
    display: flex;
    width: 100%;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    gap: 8px;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin-bottom: 1px;
}

.home-views-container > div:hover {
    background-color: var(--color-container);
}

.home-icon-with-text > div {
    display: flex;
    align-items: center;
}

.home-banks-list {
    flex-grow: 1;
    border-bottom: 1px solid var(--color-border-outline-dark);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.home-banks-list-title {
    margin-top: 20px;
    margin-left: 25px;
}

.home-footer {
    padding: 10px 12px 10px 12px;
}

.home-footer-icon-with-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px 10px 10px;
    gap: 4px;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.home-footer-icon-with-text > div {
    display: flex;
    align-items: center;
}

.home-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    width: calc(100vw - 240px);
    height: calc(100vh - 48px);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.home-view::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.home-view {
-ms-overflow-style: none; /* IE and Edge */
scrollbar-width: none; /* Firefox */
}

.visible {
    display: flex;
}

.hidden {
    display: none;
}

.hide-home-side-bar .home-side-bar {
    animation-name: hideSideBar;
}

.hide-home-side-bar .home-icon-with-text,
.hide-home-side-bar .home-banks-list,
.hide-home-side-bar .home-banks-list-title,
.hide-home-side-bar .home-footer-icon-with-text {
    animation-name: hideSideBarElements;
    animation-duration: 0;
}

.hide-home-side-bar .home-view {
    animation-name: expendHomeView;
}

.show-home-side-bar .home-side-bar {
    animation-name: showSideBar;
}

.show-home-side-bar .home-icon-with-text,
.show-home-side-bar .home-banks-list,
.show-home-side-bar .home-banks-list-title,
.show-home-side-bar .home-footer-icon-with-text {
    animation-name: showSideBarElements;
    animation-duration: .3s;
}

.show-home-side-bar .home-view {
    animation-name: shrinkHomeView;
}

@keyframes hideSideBar {
    from {
        width: 240px;
        transform: translateX(0);
    }
    to {
        width: 0;
        transform: translateX(-100%);
    }
}

@keyframes hideSideBarElements {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes expendHomeView {
    from {
        width: calc(100vw - 240px);
    }
    to {
        width: 100vw;
    }
}

@keyframes showSideBar {
    from {
        width: 0;
        transform: translateX(-100%);
    }
    to {
        width: 240px;
        transform: translateX(0);
    }
}

@keyframes showSideBarElements {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes shrinkHomeView {
    from {
        width: 100vw;
        
    }
    to {
        width: calc(100vw - 240px);
    }
}